<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Douban FM</title>
	<link rel="stylesheet" href="dist/style/reset.min.css">
	<link rel="stylesheet" href="dist/style/player.min.css">
	<link rel="stylesheet" href="dist/style/channel.min.css">
	<link rel="stylesheet" href="dist/style/lyric.min.css">
	<link rel="stylesheet" href="dist/style/search.min.css">
	<link rel="stylesheet" href="dist/style/toggle.min.css">
	<link rel="stylesheet" href="dist/style/hint.min.css">
</head>
<body class="loading">
<div class="wrapper">
	<div id="fm-player-container">
		<div class="fm-player">
			<div class="cover">
				<img src="" alt="">
			</div>
			<div class="player-container">
				<div class="content">
					<a class="btn pause pressable"></a>
					<div class="infos">
						<h4 class="artist"></h4>
						<div class="album">
							<p class="album-title"></p>
							<p class="year"></p>
						</div>
						<p class="title-roller">
							<a target="_blank"></a>
						</p>
					</div>
					<div class="player-wrapper">
						<div class="player">
							<div class="load-progress">
								<div class="play-progress"></div>
							</div>
						</div>
					</div>
					<div class="controller">
						<div class="volume-wrapper">
							<div class="volume">
								<div class="current-volume"></div>
							</div>
							<p class="time"></p>
						</div>
						<div class="btn-group">
							<a class="btn prev pressable"></a>
							<a class="btn heart pressable"></a>
							<a class="btn trash pressable"></a>
							<a class="btn next pressable"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="extra-btn">
			<a class="loop off">单曲循环：关</a>
			<a id="show-lyric">歌词</a>
			<a class="download" target="_blank"></a>
		</div>
	</div>
	<div id="fm-channel-container" class="preload off">
		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
		<div class="viewport">
			<div class="overview">
				<div id="fm-search">
					<form class="search" method="GET">
						<div class="search-inner">
							<input type="text" name="keyword" placeholder="搜索兆赫" />
							<input type="submit" value title="搜索"/>
						</div>
					</form>
					<div id="search-result" class="clearfix"></div>
				</div>
				<div id="fm-channel"></div>
			</div>
		</div>
	</div>
	<div id="fm-lyric-container">
		<div id="lyric-container"></div>
		<a class="close" title="隐藏歌词"></a>
	</div>
	<span class="toogle"></span>
</div>
<div id="hint" class="hide">
	<h2 class="title">Shortcuts:</h2>
	<ul class="help clearfix">
		<li class="item">
			<b class="key">F</b> Favorite / Unlike the song
		</li>
		<li class="item">
			<b class="key">D</b> Trash a song
		</li>
		<li class="item">
			<b class="key">S</b> Skip the song
		</li>
		<li class="item">
			<b class="key">B</b> Previous song
		</li>
		<li class="item">
			<b class="key">L</b> Switch the loop status
		</li>
		<li class="item">
			<b class="key">W</b> Download the song
		</li>
		<li class="item">
			<b class="key">&larr;</b> Rewind 5 sec
		</li>
		<li class="item">
			<b class="key">&rarr;</b> Forward 5 sed
		</li>
		<li class="item">
			<b class="key">&uarr;</b> Vol up
		</li>
		<li class="item">
			<b class="key">&darr;</b> Vol down
		</li>
		<li class="item">
			<b class="key">space</b> Pause / Resume
		</li>
		<li class="item">
			<b class="key">H</b> Help
		</li>
	</ul>
</div>
<script type="text/template" id="single-channel-tpl">
	<li class="channel-item pressable" data-name="<%= info.name %>" data-id="<%= info.id %>" data-intro="<%= info.intro %>">
		<span class="channel">
			<a class="channel-name"><%= info.name %></a>
		</span>
		<a class="opt"></a>
	</li>
</script>
<script type="text/template" id="channel-tpl">
	<% for(var i = 0, l = infos.length; i<l ; i++) { %>
		<% if(infos[i].channels.length){ %>
		<div class="channel-wrapper">
			<% if(infos[i].title){ %>
			<h3 class="title"><%= infos[i].title %></h3>
			<% } %>
			<ul class="channel-list" data-area="<%= (infos[i].area||'') %>">
				<% for( var j = 0 , li = infos[i].channels.length , cur=infos[i].channels[j]; j<li ; j++,cur=infos[i].channels[j] ) { %>
				<li class="channel-item pressable<%= (cur.id===playing ? ' playing' : '') %>" data-name="<%= cur.name %>" data-id="<%= cur.id %>" data-intro="<%= cur.intro %>">
					<span class="channel">
						<a class="channel-name" title="<%= cur.name %>"><%= ( infos[i].title ? cur.name+' MHz' : cur.name ) %></a>
					</span>
					<% if ( cur.id > 0 ){ %>
					<a class="opt"></a>
					<% } %>
				</li>
				<% } %>
			</ul>
		</div>
		<% } %>
	<% } %>
</script>
<script type="text/template" id="search-result-tpl">
	<div class="keyword">与“<%= keyword %>”相关的搜索结果</div>
	<% if(result.length) {%>
	<ul class="channel-result clearfix">
		<% for( var i=0, cur=result[0], l=result.length; i<l; cur=result[++i] ){ %>
		<li class="channel-item clearfix" data-name="<%= cur.name %>" data-cid="<%= cur.id %>" data-songnum="<%= cur.song_num %>" data-intro="<%= cur.intro %>">
			<div class="cover"> 
				<img src="<%= cur.cover %>" alt="<%= cur.name %>">
			</div>
			<div class="info">
				<h4 class="title"><%= cur.name %></h4>
				<div class="intro"><%= cur.intro %></div>
				<div class="hotsongs">
					热门歌曲：<%= (cur.hot_songs.join(" / ")) %>
				</div>
				<div class="song_num"><%= cur.song_num %>首歌曲</div>
			</div>
		</li>
		<% } %>
	</ul>
	<% } else {%>
		<p class="no-result">对不起,没有关于"<%= keyword %>"的搜索结果</p>
	<% } %>
	<span class="return">返回</span>
</script>
<script id="lyric-tpl" type="text/template">
	<div class="lyric-wrapper<%= ( lrc.length ? '' : ' no-lyric' ) %>">
		<ul class="lyrics">
			<% for(var i = 0, l = lrc.length ; i < l ; i++ ){ %>
			<li class="lrc" data-time="<%= lrc[i].time %>"><%= lrc[i].lrc%></li>
			<% } %>
		</ul>
	</div>
</script>
<script src="dist/script/util.min.js"></script>
<script src="dist/script/tinyscrollbar.min.js"></script>
<script src="dist/script/component.min.js"></script>
<script src="dist/script/view.min.js"></script>
</body>
</html>